.title {
    font-family: 'Spectral SC', serif;
}

.btn {
    background-color: #ffa726;
}


/*navbar*/

nav {
    background-color: #fafafa;
}

nav .nav-wrapper {
    padding: 0 10px 0 10px;
}

nav .brand-logo {
    color: #f57c00;
    padding: 0 0 0 10px;
}

nav ul a {
    color: #f57c00;
}


/*breadcrumb*/

.breadcrumb {
    color: #f57c00;
}

.breadcrumb::before {
    color: #f57c00;
}

.breadcrumb:last-child {
    color: #f57c00;
}


/*card title*/

span.card-title.title.center-align {
    margin-bottom: 30px;
}


/**/

#menu_card {
    margin-top: 40px;
}


/**/

.block_panel {
    Height: 150px;
    width: 150px;
}

.block_panel.btn {
    padding: 0px;
}